@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


[data-theme="dark"] {
  /* --bg_color: #333333; */
  --bg_color: #04152d;
  --heading: #fff;
  --Text: #f0ffff;
  --header_Bg: #364153;
  --boxBg_color:#090F19;

}

[data-theme="light"] {
  --bg_color: #fffff0;
  --heading: #000;
  --Text: #0f0f0f;
  --boxBg_color:#7c7e80;
  --header_Bg: #625d5d;

}

html{
  scroll-behavior: smooth;
  overflow: scroll;
}

.App{
  background-color:var(--bg_color) ;
 

}
.heading{
  color:var(--heading) ;
}
.roundedBox{
  background-color:var(--boxBg_color) ;

}
.header{
  background-color: var(--header_Bg);
}
.page{
  width: 100%; 
  margin: 20px 0;
 
}
.nameProfession{
  font-family: "Permanent Marker", cursive;

}


.gradient-bg {
  display: grid;
  padding: 8px 12px;
  border-radius: 6px;
  grid-template-columns: 1fr 9fr;
  /* background: linear-gradient(90deg, #2E3842, #0B1422); */
  color: white;
  transition: background 0.3s ease-in-out;
}
.gradient-projects {
  display: grid;
  padding: 8px 12px;
  border-radius: 6px;
  grid-template-columns: 1fr 9fr;
  background: linear-gradient(90deg, #18356A, #04152d);
  color: white;
  transition: background 0.3s ease-in-out;
 
}
/* .gradient-projects:hover{
  background: linear-gradient(90deg,#04152d #18356A);

} */

.gradient-bg:hover {
  background: linear-gradient(90deg,#2E3842, #0B1422 ); /* Reverse on hover */
}

.floating-icons-container {
  position: fixed; /* Icons stay visible while scrolling */
  top: 0;
  left: 0;
  /* width:100vw; */
  height:100%;
  pointer-events: none; /* Prevent icons from interfering with clicks */
  z-index: -1; /* Keep them in the background */
}

.floating-icon {
  position: absolute;
  opacity: 0.7;
}


.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

/* Hide default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Toggle slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 25px;
}

/* The small circle (toggle knob) */
.slider::before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3.5px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* Change color when checked */
input:checked + .slider {
  background-color: #4caf50;
}

/* Move toggle knob to the right when checked */
input:checked + .slider::before {
  transform: translateX(24px);
}